<div class="embed-container">
    <iframe src="https://open.spotify.com/embed/episode/{{ include.id }}"
            width="100%"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            onload="resizeIframe(this)">
    </iframe>
</div>

<script>
    function resizeIframe(obj) {
        obj.style.height = (obj.contentWindow.document.documentElement.scrollHeight+20) + 'px';
    }
</script>